<li>Question: {{question.content}}, Author: {{question.questionAuthor}}
  {{update-question question=question updateQuestion="updateQuestion"}}
<button {{action 'deleteQuestion' question}}>Delete question</button>
</li>
