<h2>Welcome to our Question and Answer Board</h2>

<h3>This is a list of submitted questions</h3>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question deleteQuestion="deleteQuestion"}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
